
    <div>


        <span style="float:right;margin-top:-18px;background-color:#6d0909;color:#fff;font-size:11px;opacity:0.7;width:140px;border-radius: 0px 0px 8px 8px;">&nbsp;&nbsp;&nbsp;<i class="ion-clock"></i>&nbsp;&nbsp;{{eventData.Event.StartTime}}</span>

        <span style="float:left;margin-top:-18px;background-color:#444444;color:#fff;font-size:11px;opacity:0.7;width:90px;border-radius: 0px 0px 8px 8px;">&nbsp;&nbsp;&nbsp;{{eventData.Event.Cause}}</span>
        <br>
        <div class="col col-80">
            <div class="item-text-wrap">
                <b>{{eventData.Event.Name}}</b>
            </div>
            <br>
            <i class="ion-images"></i> {{eventData.Event.Frames}} &nbsp;
            <i class="ion-ios-bell-outline"></i> {{eventData.Event.AlarmFrames}} &nbsp;
            <i class="ion-arrow-graph-up-right"></i> {{eventData.Event.TotScore}}
        </div>

      <span>
        <div ng-if="eventData.Event.EndTime" style="text-align:center;">

            <button class="button button-small icon icon-left ion-ios-eye"
                    ng-click="closeopen(eventData);footage(eventData)" > Footage
            </button>
        </div>

        <div ng-if="!eventData.Event.EndTime">
            <p>recording in progress</p>
        </div>
      </span>



</div>
